article
  padding: 1em
  width: 80%
  p
    text-align: justify
    padding-bottom: 1em

  h1 span, h2 span, abbr
    font-weight: normal
    color: #999
    font-size: 0.8em
    text-transform: none
  h2
    padding-bottom: 1em
