<header>
  <h1>
    <a href='/' title='Jon Rowe'>
      JR
    </a>
  </h1>
  <nav>
    <a href='http://jonrowe.co.uk'        title='About'   class='mob-show' > About</a>
    <a href='https://twitter.com/jonrowe' title='Twitter' class='mob-show' > Twitter</a>
    <a href='https://github.com/jonrowe'  title='Code'    class='mob-show' > Code</a>
    <a href='http://flickr.com/mrjonrowe' title='Flickr'  class='mob-show' > Flickr</a>
    <a href='http://500px.com/jonrowe'    title='500px'   class='mob-hide' > 500px</a>
  </nav>
</header>
